html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: #222;
  background-size: cover;
}

body {
  position: relative;
  z-index: 1;
}

.window {
  position: relative;
  height: 100%;
  max-width: 1400px;
  width: 100%;
  z-index: 1;
}

.cover {
  background-color: #fff;
  color: transparent;
  font-size: 0px;
  height: 100%;
  opacity: 0;
  position: absolute;
  @include customTransition(opacity 400ms);
  width: 100%;

  &.active {
    opacity: 1;
    // included to prefetch font
    font-family: $frontage;
  }

  img {
    display: none;
    position: absolute;
  }
}
