.main-header {
  padding-top: 20px;
  margin: 0 auto;
  @include customTransition();

  // class to push content down UNTIL the nav is interacted with
  &.primed {
    padding-top: 140px;
    @include customTransition(all 1000ms);
  }

  .logo {
    opacity: 0;
    margin: 0 auto;
    max-width: 300px;
    @include customTransition();
    width: 50%;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.main-nav {
  font-family: Georgia, Times New Roman, Times, serif;
  letter-spacing: 3px;
  margin: 20px auto 0;
  max-width: 440px;
  text-align: center;

  li {
    display: inline-block;
    padding: 0;
    width: 32%;
  }

}
.main-nav-item {
  color: $white;
  font-family: $goudy;
  @include rem('font-size',14px);
  font-weight: 100;
  opacity: 0;
  padding: 6px;
  position: relative;
  @include customTransition();


  &:focus,
  &:hover {
    top: 10px;
    padding-top: 20px;
  }
}

.touch {
  .main-nav-item {
    &:focus,
    &:hover {
      padding-top: 6px;
      text-decoration: underline;
      top: 0;
    }
  }
}

