.main-header {
  padding-top: 20px;
  margin: 0 auto;
  @include customTransition();

  // class to push content down UNTIL the nav is interacted with
  &.is-primed {
    padding-top: 140px;
    @include customTransition(all 1000ms);
  }

  .logo {
    // included to prefetch font
    font-family: $frontageBold;
    opacity: 1;
    margin: 0 auto;
    max-width: 300px;
    @include customTransition();
    width: 50%;

    // initial loading state. removing the opacity was the only way to kill
    // the firefox flicker bug when the mouse entered/exited the window
    &.initial {
      opacity: 0;
    }
  }

  .logo__svg {
    display: block;
    margin: auto;
    max-height: 200px;
    width: 100%;

    .inner-border {
      fill-opacity: 0;
      stroke: #fff;
      stroke-width: 4;
    }

    .outer-border {
      fill-opacity: 0;
      stroke: #fff;
      stroke-width: 7;
    }

    .benjamin {
      fill: #fff;
    }

    .charity {
      fill: #fff;
    }

  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.main-nav {
  font-family: Georgia, Times New Roman, Times, serif;
  letter-spacing: 3px;
  margin: 20px auto 0;
  max-width: 440px;
  text-align: center;

  li {
    display: inline-block;
    padding: 0;
    opacity: 0;
    width: 32%;
  }
}

.main-nav-item {
  color: $white;
  font-family: $goudy;
  @include rem('font-size',14px);
  font-weight: 100;
  padding: 6px;
  position: relative;
  // this needs to be set to allow a transition to top: 10px on hover
  top: 0;
  @include customTransition();

  &:focus,
  &:hover {
    @include breakpoint(tablet) {
      top: 10px;
      padding-top: 20px;
    }
  }
}
