// projects wrapper
.projects {
  color: $white;
  display: none;
  height: 400px;
  margin: 40px auto;
  padding: 0 4%;
  width: 100%;

  &.active {
    display: block;
    position: absolute;
    width: 100%;
  }

  // class to hide <li>s prior to loading section data
  .future {
    opacity: 0;
  }
}

// <ul>
.projects__list {
  @include clear();

  >li {
    float: left;
    margin: 2% 1%;
    width: 98%;
  }
}

// single project
.project {
  background-color: rgba(200,200,200,0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  @include border-radius(1px);
  border: 1px solid rgba(#000, 0.2);
  @include clear();
  height: 180px;
  padding: 12px;
  position: relative;

  h1 {
    color: rgba($white, 1);
    @include frontageBoldFont();
    padding: 0 0 2px 0;
    margin-left: -2px;
  }

  h2 {
    color: rgba($white,0.8);
    @include frontageFont();
    @include rem('font-size',14px);
    letter-spacing: -2px;
    padding: 0 0 6px 0;
    margin-left: -2px;
  }

  .project__hero {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
  }

  .project__url {
    color: $light-gray;
    display: block;
    @include rem('font-size',11px);
    font-family: $goudy;
    padding: 4px 6px;
    text-decoration: underline;
    @include customTransition();

    &:focus,
    &:hover {
      background-color: rgba($black, 0.6);
    }
  }
}

.project__roles {
  margin-bottom: 16px;
  margin-top: 5px;
  padding-left: 3px;

  li {
    display: block;
    font-family: $goudy;
    @include rem('font-size',12px);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing:    antialiased;
    -ms-font-smoothing:     antialiased;
    -o-font-smoothing:      antialiased;
    font-smoothing:         antialiased;

    &.development::before,
    &.design::before,
    &.ux::before,
    &.pm::before {
      display: inline-block;
      font-family: $websymbols;
      @include rem('font-size',20px);
      position: relative;
      top: 4px;
      margin-right: 10px;
      text-align: right;
      width: 10px;
    }

    &.development::before {
      content: ";";
    }

    &.design::before {
      content: "\00ca"; // Ê
    }

    &.ux::before {
      content: "\00dc"; // Ü
    }

    &.pm::before {
      content: "K";
    }

  }

}
