.main-header {
  padding-top: 100px;
  margin: 0 auto;
  @include customTransition();
  width: 50%;

  .logo {
    opacity: 0;
    margin: 0 auto;
    max-width: 300px;
    @include customTransition();
    width: 100%;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  // active state of the header
  //&.active {
    //padding-top: 0;

    //.logo {
      //height: 100px;
      //margin: 0;
      //position: absolute;
      //left: 0;
      //top: 0;
      //width: 200px;
    //}

    //.main-nav {
      //text-align: left;
    //}
  //}
}

.main-nav {
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 14px;
  letter-spacing: 3px;
  margin: 20px auto 0;
  max-width: 440px;
  text-align: center;

  li {
    display: inline-block;
    padding: 0 6px;
    width: 32%;

  }

}
.main-nav-item {
  color: $white;
  font-family: $goudy;
  font-style: italic;
  font-weight: 100;
  opacity: 0;
  padding: 6px;
  position: relative;
  @include customTransition();


  &:focus,
  &:hover {
    top: 10px;
    padding-top: 20px;
  }
}

