// projects wrapper
.projects {
  color: $black;
  display: none;
  height: 400px;
  margin: 40px auto;
  max-width: 600px;
  width: 60%;
}

// single project
.project {
  background-color: rgba($white,1);
  background-position: right bottom;
  background-repeat: no-repeat;
  @include box-shadow();
  @include border-radius(1px);
  padding: 12px;
  position: relative;
  margin-bottom: 40px;
  height: 200px;
  width: 100%;

  h1 {
    color: rgba($black,0.8);
    padding: 0 0 6px 0;
    margin-left: -2px;
    @include frontageFont();
  }

  .project__hero {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
  }

  .project__url {
    color: $mid-gray;
    @include rem('font-size',11px);
    font-family: $goudy;
    font-style: italic;
    padding: 2px 6px;
    position: absolute;
    bottom: 2px;
    left: 10px;

    &:focus,
    &:hover {
      background-color: rgba($black, 0.1);
      text-decoration: underline;
    }
  }
}

.project__roles {
  margin-top: 5px;
  padding-left: 3px;

  li {
    display: block;
    font-family: $goudy;
    @include rem('font-size',12px);

    &.development::before,
    &.design::before,
    &.ux::before,
    &.pm::before {
      display: inline-block;
      font-family: $websymbols;
      @include rem('font-size',20px);
      position: relative;
      top: 4px;
      margin-right: 10px;
      text-align: center;
      width: 10px;
    }

    &.development::before {
      content: ";";
    }

    &.design::before {
      content: "\00ca"; // Ê
    }

    &.ux::before {
      content: "\00dc"; // Ü
    }

    &.pm::before {
      content: "K";
    }

  }

  .symbol {
    display: inline;
    @include rem('font-size',30px);
    //line-height: 1em;
    margin-bottom: 12px;
  }
}
