
//
//
// everything above iphone landscape > above 568px
//
@media all and (min-width: 568px) {
  .projects {
    width: 80%;
  }

  // <ul> - 2x2 list
  .projects__list {
    >li {
      margin: 2%;
      width: 46%;

      &:nth-of-type(even) {
        margin-right: 1%;
      }

      &:nth-of-type(odd) {
        margin-left: 1%;
      }
    }
  }

}





//
//
// everything above ipad landscape
//
@media all and (min-width: 770px) {

  .main-header {
    padding-top: 50px;

    .main-nav {
      li {
        padding: 0 6px;
      }
    }
  }

  .about__portrait {
    margin-left: 2%;
    margin-top: 2em;
    width: 46%;
  }

  .about__history {
    float: right;
    margin-right: 2%;
    width: 46%;
  }

  .about__components {
    width: 46%;
    margin-left: 2%;
    margin-top: 3em;
  }

  .about__speaking {
    width: 46%;
    margin-left: 2%;
    margin-top: 3em;
  }
}





//
//
// Desktop > Above 1140px
//
@media all and (min-width: 1140px) {

  // <ul>
  .projects__list {
    //border: 3px solid red;

    >li {
      width: 30%;

      &:nth-of-type(even) {
        margin-right: 2%;
      }

      &:nth-of-type(odd) {
        margin-left: 2%;
      }

      // 3,6,9,12...
      &:nth-of-type(3n) {
        //border: 1px solid red;
        margin-right: 1%;
      }

      // 1,4,7,10...
      &:nth-of-type(3n-2) {
        //border: 1px solid blue;
        margin-left: 1%;
      }
    }
  }
}







//
//
// up to iphone landscape
//
@media all and (max-width: 30em) {

}



//
//
// small screen in landscape mode
//
//@media all and (max-width: 30em) and (orientation : landscape) {

//}


//
//
// retinal display
//
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}
