<header class="main-header">
  <h1 class="logo">Benjamin Charity</h1>

  <nav class="main-nav">
    <ul>
      <li><a href="#">projects</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </nav>
</header>
