<header class="main-header  primed">
  <h1 class="logo">
    <%#<object id="logo" type="image/svg+xml" data="i/logo.svg">Benjamin Charity</object>%>
    <img src="i/logo.png" alt="Benjamin Charity" />
  </h1>

  <nav class="main-nav">
    <ul>
      <li><a class="main-nav-item" href="#projects">projects</a></li>
      <%#<li><a class="main-nav-item" href="#about">about</a></li>%>
      <li><a class="main-nav-item" href="#contact">contact</a></li>
    </ul>
  </nav>
</header>
