<header class="main-header">
  <h1 class="logo">
    <img src="/i/logo.png" alt="Benjamin Charity" />
  </h1>

  <nav class="main-nav">
    <ul>
      <li><a class="main-nav-item" href="#">projects</a></li>
      <li><a class="main-nav-item" href="#">about</a></li>
      <li><a class="main-nav-item" href="#">contact</a></li>
    </ul>
  </nav>
</header>
