<article class="project">
  <h1>Project One</h1>

  <%#<img class="project__hero" src="/i/projects/2.png" alt="" />%>

  <%#<ul class="project__roles">%>
    <%#<li class="abbr-title"></li>%>
    <%#<li>%>
      <%#<abbr class="development" title="Front-End Development">;</abbr>%>
    <%#</li>%>
    <%#<li>%>
      <%#<abbr class="design" title="Design/UI">&#202;</abbr>%>
    <%#</li>%>
    <%#<li>%>
      <%#<abbr class="ux" title="User Experience">&#220;</abbr>%>
    <%#</li>%>
    <%#<li>%>
      <%#<abbr class="pm" title="Project Management">K</abbr>%>
    <%#</li>%>
  <%#</ul>%>

  <ul class="project__roles">
    <li class="development">Front-End Development</li>
    <li class="design">Design/UI</li>
    <li class="ux">User Experience</li>
    <li class="pm">Project Management</li>
  </ul>

  <a class="project__url" href="#">http://thisurl.com</a>

</article>

