@font-face {
  font-family: 'goudy';
  src: url('fonts/goudystm-italic.eot');
  src: url('fonts/goudystm-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/goudystm-italic.woff') format('woff'),
       url('fonts/goudystm-italic.ttf') format('truetype'),
       url('fonts/goudystm-italic.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'websymbols';
  src: url('fonts/raphaelicons.eot');
  src: url('fonts/raphaelicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/raphaelicons.woff') format('woff'),
       url('fonts/raphaelicons.ttf') format('truetype'),
       url('fonts/raphaelicons.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'frontage';
  src: url('fonts/frontage-regular.eot');
  src: url('fonts/frontage-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/frontage-regular.woff') format('woff'),
       url('fonts/frontage-regular.ttf') format('truetype'),
       url('fonts/frontage-regular.svg#WebSymbolsRegular') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'frontageBold';
  src: url('fonts/frontage-bold.eot');
  src: url('fonts/frontage-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/frontage-bold.woff') format('woff'),
       url('fonts/frontage-bold.ttf') format('truetype'),
       url('fonts/frontage-bold.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}









$sans-serif: Arial, Helvetica, sans-serif;
$helvetica: Helvetica Neue, Helvetica, sans-serif;
$serif: Georgia, serif;
$goudy: goudy, georgia, times new roman, serif;
$frontage: frontage, arial, sans serif;
$frontageBold: frontageBold, arial, sans serif;
$websymbols: websymbols;


@mixin frontageFont() {
  font-family: $frontage;
  font-weight: 100;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; 
  -moz-font-smoothing:    antialiased; 
  -ms-font-smoothing:     antialiased; 
  -o-font-smoothing:      antialiased; 
  font-smoothing:         antialiased;
}

@mixin frontageBoldFont() {
  font-family: $frontageBold;
  font-weight: 100;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; 
  -moz-font-smoothing:    antialiased; 
  -ms-font-smoothing:     antialiased; 
  -o-font-smoothing:      antialiased; 
  font-smoothing:         antialiased;
}
