@font-face {
  font-family: 'goudy';
  src: url('fonts/GoudyStM-Italic-webfont.eot');
  src: url('fonts/GoudyStM-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/GoudyStM-Italic-webfont.woff') format('woff'),
       url('fonts/GoudyStM-Italic-webfont.ttf') format('truetype'),
       url('fonts/GoudyStM-Italic-webfont.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'websymbols';
  src: url('fonts/raphaelicons-webfont.eot');
  src: url('fonts/raphaelicons-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/raphaelicons-webfont.woff') format('woff'),
       url('fonts/raphaelicons-webfont.ttf') format('truetype'),
       url('fonts/raphaelicons-webfont.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'frontage';
  src: url('fonts/frontage-regular.eot');
  src: url('fonts/frontage-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/frontage-regular.woff') format('woff'),
       url('fonts/frontage-regular.ttf') format('truetype'),
       url('fonts/frontage-regular.svg#WebSymbolsRegular') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'frontageBold';
  src: url('fonts/frontage-bold.eot');
  src: url('fonts/frontage-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/frontage-bold.woff') format('woff'),
       url('fonts/frontage-bold.ttf') format('truetype'),
       url('fonts/frontage-bold.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}









$sans-serif: Arial, Helvetica, sans-serif;
$serif: Georgia, serif;
$goudy: goudy, georgia, times new roman, serif;
$frontage: frontage, arial, sans serif;
$frontageBold: frontageBold, arial, sans serif;
$websymbols: websymbols;


@mixin frontageFont() {
  font-family: $frontage;
  font-weight: 100;
  -webkit-font-smoothing: antialiased; 
  -moz-font-smoothing:    antialiased; 
  -ms-font-smoothing:     antialiased; 
  -o-font-smoothing:      antialiased; 
  font-smoothing:         antialiased;
}

@mixin frontageBoldFont() {
  font-family: $frontageBold;
  font-weight: 100;
  -webkit-font-smoothing: antialiased; 
  -moz-font-smoothing:    antialiased; 
  -ms-font-smoothing:     antialiased; 
  -o-font-smoothing:      antialiased; 
  font-smoothing:         antialiased;
}
