<section class="about  js-about">

  <%#

    a) Image
    b) Name
    c) Roles or skills?
    d) Background

  %>


  <ul class="about__history">
    <li>
      <figure class="about__portrait">
        <img src="/i/portrait.jpg" alt="Benjamin Charity" />
        <figcaption>Benjamin Charity</figcaption>
      </figure>
    </li>
    <li>
      <time datetime="1985-01-01">1985</time>
      Born in Central Florida, now residing in Atlanta, GA.
    </li>
    <li>
      <time datetime="2001-01-01">2001</time>
      Built a log house with my Father and Uncle.
    </li>
    <li>
      <time datetime="2004-01-01">2004</time>
      Homeschooled until highschool.
    </li>
    <li>
      <time datetime="2007-01-01">2007</time>
      Graduated and spent 3 years arranging and playing music.
    </li>
    <li>
      <time datetime="2007-01-01">2007</time>
      Stumbled into web design.
    </li>
    <li>
      <time datetime="2009-01-01">2009</time>
      Started going to SCAD.
    </li>
    <li>
      <time datetime="2009-01-01">2009</time>
      Quickly dropped out due to outdated curriculum and purchased stacks of books.
    </li>
    <li>
      <time>[Still in progress]</time>
      Made plenty of mistakes.
    </li>
    <li>
      <time datetime="2010-01-01">2010</time>
      Contracted.
    </li>
    <li>
      <time datetime="2011-01-01">2011</time>
      Worked at an agency.
    </li>
    <li>
      <time datetime="2012-01-01">2012</time>
      Worked at a startup.
    </li>
    <li>
      <time datetime="2012-01-01">2012</time>
      Went back to contracting.
    </li>
    <li>
      <time datetime="2013-01-01">2013</time>
      Began speaking.
    </li>
    <li>
      <time datetime="2013-01-01">2013</time>
      Made this list.
    </li>
  </ul>

</section>
