<section class="about  js-about">

  <img class="about__portrait  fadeInLeft" src="i/portrait.jpg" alt="Benjamin Charity" />

  <ul class="about__history">
    <li class="fadeInUp">
      <time datetime="1985-01-01">1985</time>
      Born in Central Florida
    </li>
    <li class="fadeInUp">
      <time datetime="1994-01-01">1994</time>
      Moved to Atlanta, GA
    </li>
    <li class="fadeInUp">
      <time datetime="2001-01-01">2001</time>
      Built a log house with my Father and Uncle
    </li>
    <li class="fadeInUp">
      <time datetime="2004-01-01">2004</time>
      Homeschooled until highschool
    </li>
    <li class="fadeInUp">
      <time datetime="2007-01-01">2007</time>
      Graduated and spent three years arranging and playing music
    </li>
    <li class="fadeInUp">
      <time datetime="2007-01-01">2007</time>
      Stumbled into web design
    </li>
    <li class="fadeInUp">
      <time datetime="2009-01-01">2009</time>
      Began attending <abbr title="Savannah College of Art and Design">SCAD</abbr> for Advertising Design
    </li>
    <li class="fadeInUp">
      <time datetime="2009-01-01">2009</time>
      Quickly dropped out due to outdated curriculum and purchased stacks of books
    </li>
    <li class="fadeInUp">
      <time class="about__progress">Still In Progress</time>
      Made plenty of mistakes
    </li>
    <li class="fadeInUp">
      <time datetime="2010-01-01">2010</time>
      Contracted
    </li>
    <li class="fadeInUp">
      <time datetime="2011-01-01">2011</time>
      Worked at an agency
    </li>
    <li class="fadeInUp">
      <time datetime="2012-01-01">2012</time>
      Worked at a startup
    </li>
    <li class="fadeInUp">
      <time datetime="2012-01-01">2012</time>
      Went back to contracting
    </li>
    <li class="fadeInUp">
      <time datetime="2013-01-01">2013</time>
      Began speaking on <abbr title="Responsive Web Design">RWD</abbr>.
    </li>
    <li class="fadeInUp">
      <time datetime="2013-01-01">2013</time>
      Made this list.
    </li>
  </ul>

  <article class="about__components">
    <h4>Credits</h4>

    <ul>
      <li>
        <a href="http://middlemanapp.com/" rel="nofollow">Middleman</a>
      </li>

      <li>
        <a href="http://zeptojs.com/" rel="nofollow">Zepto</a>
      </li>

      <li>
        <a href="http://modernizr.com/" rel="nofollow">Modernizr</a>
      </li>

      <li>
        <a href="https://github.com/jamesflorentino/nanoScrollerJS" rel="nofollow">NanoScroller</a>
      </li>

      <li>
        <a href="https://github.com/daneden/animate.css" rel="nofollow">Animate.css</a>
      </li>

      <li>
        <a href="http://icons.marekventur.de/" rel="nofollow">Raphael Icons</a>
      </li>

      <li>
        <a href="http://www.youworkforthem.com/font/T3015/frontage" rel="nofollow">Frontage</a>
      </li>

      <li>
        <a href="http://www.theleagueofmoveabletype.com/sorts-mill-goudy/" rel="nofollow">Sorts Mill Goudy</a>
      </li>
    </ul>

  </article>
</section>
