<section class="contact  js-contact">

  <ul class="contact__list">

    <li class="future  fadeInLeft">
      <a href="http://github.com/benjamincharity">github</a>
    </li>

    <li class="future  fadeInRight">
      <a href="http://dribbble.com/benjamincharity">dribbble</a>
    </li>

    <li class="future  fadeInRight">
      <a href="http://www.linkedin.com/in/benjamincharity">linkedin</a>
    </li>

    <li class="future  fadeInLeft">
      <a href="http://twitter.com/benjamincharity">twitter</a>
    </li>

    <li class="future  fadeInRight">
      <a href="mailto:ben@benjamincharity.com">email</a>
    </li>

    <li class="future  fadeInLeft">
      <a href="skype:benjamincharity?call">skype</a>
    </li>

    <li class="future  fadeInRight">
      <a href="http://zerply.com/benjamincharity">zerply</a>
    </li>

    <li class="future  fadeInLeft">
      <a href="http://forrst.com/people/benjamincharity">forrst</a>
    </li>

    <li class="future  fadeInLeft">
      <a href="https://plus.google.com/105110865974500494205?rel=author">Google+</a>
    </li>

  </ul>

</section>
