<section class="projects  js-projects">

  <ul class="projects__list">

    <li class="future  fadeInLeft">
      <article class="project">

        <h1>NFL</h1>
        <h2>Draft Buzz</h2>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
          <li class="pm">Project Management</li>
        </ul>

        <a class="project__url" href="http://drafttwitter.nfl.com">drafttwitter.nfl.com</a>

      </article>
    </li>

    <li class="future  fadeInRight">
      <article class="project">

        <h1>The Home Depot</h1>
        <h2>Style Guide</h2>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
          <li class="design">Design/UI</li>
          <li class="ux">User Experience</li>
        </ul>

        <a class="project__url" href="http://styleguide.homedepot.com">styleguide.homedepot.com/</a>

      </article>
    </li>

    <li class="future  fadeInDown">
      <article class="project">

        <h1>Alternative Apparel</h1>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
        </ul>

        <a class="project__url" href="http://alternativeapparel.com">alternativeapparel.com/</a>
        <a class="project__url" href="http://streetstyle.alternativeapparel.com">streetstyle.alternativeapparel.com/</a>
        <a class="project__url" href="http://commonthread.alternativeapparel.com">commonthread.alternativeapparel.com/</a>

      </article>
    </li>

    <li class="future  fadeInUp">
      <article class="project">

        <h1>NBA</h1>
        <h2>All-Star Pulse</h2>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
        </ul>

      </article>
    </li>

    <li class="future  fadeInDown">
      <article class="project">

        <h1>Turner</h1>
        <h2>Falling Skies</h2>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
        </ul>

      </article>
    </li>

    <li class="future  fadeInLeft">
      <article class="project">

        <h1>Lamar Advertising Company</h1>
        <h2>Road Ninja</h2>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
        </ul>

        <a class="project__url" href="http://www.roadninja.mobi">roadninja.mobi</a>

      </article>
    </li>

    <li class="future  fadeInRight">
      <article class="project">

        <h1>InComm</h1>
        <h2>Vanilla Visa</h2>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
          <li class="ux">User Experience</li>
        </ul>

        <a class="project__url" href="http://amillionoptions.com">amillionoptions.com</a>

      </article>
    </li>

    <li class="future  fadeInUp">
      <article class="project">

        <h1>Baker Hughes</h1>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
        </ul>

        <a class="project__url" href="http://www.bakerhughes.com">bakerhughes.com</a>

      </article>
    </li>

    <li class="future  fadeInRight">
      <article class="project">

        <h1>NCAA</h1>
        <h2>Bracket Facts</h2>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
        </ul>

      </article>
    </li>

    <li class="future  fadeInUp">
      <article class="project">

        <h1>The Campus Style</h1>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
          <li class="design">Design/UI</li>
          <li class="ux">User Experience</li>
          <li class="pm">Project Management</li>
        </ul>

      </article>
    </li>

    <li class="future  fadeInDown">
      <article class="project">

        <h1>Bounty Buy</h1>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
          <li class="ux">User Experience</li>
        </ul>

        <a class="project__url" href="http://bountybuy.com">bountybuy.com</a>

      </article>
    </li>

    <li class="future  fadeInLeft">
      <article class="project">

        <h1>NCR</h1>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
        </ul>

        <a class="project__url" href="http://www.ncr.com">ncr.com</a>

      </article>
    </li>

    <li class="future  fadeInRight">
      <article class="project">

        <h1>Case-Mate</h1>
        <h2>DIY Custom Case Creator</h2>

        <ul class="project__roles">
          <li class="development">Front-End Development</li>
        </ul>

        <a class="project__url" href="http://custom.case-mate.com/diy">custom.case-mate.com/diy</a>

      </article>
    </li>

  </ul>

</section>
